<h1>{{t "dummy.title"}}</h1>

<div class="primary-intro">
  <p>
    {{t "dummy.description"}}
  </p>
  <a href="https://help.mypurecloud.com/articles/about-purecloud-webrtc-phones/" target="_blank">{{t "dummy.learnMore"}}</a>
</div>
{{#if realtimeConnected}}
  {{flashy-webrtc-troubleshooter iceServers=iceServers}}
{{/if}}
